
@font-face {
    font-family: 'gotham_htfmedium';
    src: url('fonts/gothamhtf-medium-webfont.eot');
    src: url('fonts/gothamhtf-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothamhtf-medium-webfont.woff') format('woff'),
         url('fonts/gothamhtf-medium-webfont.ttf') format('truetype'),
         url('fonts/gothamhtf-medium-webfont.svg#gotham_htfmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

img
{
	border: 0px;
}

a
{
	text-decoration: none;
	color: inherit;
}

body
{
	margin: 0px;
	overflow-x: hidden;
	background-color: #222222;
}

.background_holder
{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.background_bubbles
{
	position: absolute;
	z-index: 1;
	left: -125px;
}

.menuarrow
{
	position: relative;
	margin-right: 4px;
	width: 7px; 
	height: 1px;
	float: left;	
}

	.menuarrow img
	{
		width: 100%;
	}

.mainmenuarrow
{
	height: 8px;
	margin-top: -2px;
}

	.mainmenuarrow img
	{
		width: 100%;
	}

.hidden
{
	display: none;
}

.wrapper
{
	position: relative;
	width: 875px;
	margin-left: auto;
	margin-right: auto;
}

	.header
	{
		position: relative;
		overflow: visible;
		z-index: 10;
		height: 150px;
	}
	
		.headermenu
		{
			position: relative;
			float: right;
			width: 50%;
			font-family: gotham_htfmedium;
			text-transform: uppercase;
			font-size: 15px;
			color: #949494;
			margin-bottom:17px;
		}
		
			.headermenu ul
			{
				list-style: none;
				padding: 0px;
				margin: 0px;
				vertical-align: middle;
				margin-top: 30px;
				margin-left: -11px;
			}
			
		
		.headerlogo
		{
			position: relative;
			float: right;
			width: 50%;
			text-align: right;
			line-height: 150px;
		}
		
			.headerlogo img
			{
				position: relative;
				vertical-align: middle;
			}
	
	.home
	{
		position: relative;
		width: 100%;
		z-index: 10;
		overflow: hidden;
	}
		#FlashHolder
		{
			position: relative;
			width: 100%;
			height: 490px;
			background-color: #222222;
		}
		
		.ImageHolder
		{
			position: relative;
			width: 200%;
		}
		
		.ImageHolder .slideritem
		{
			position: absolute;
			top: 0px;
			width: 100%;
			height: 100%;
		}
		
		.ImageHolder .sliderwindow
		{
			position: absolute;
			overflow: hidden;
			width: 50%;
			height: inherit;
		}
	
		.content
		{
			position: relative;
			min-height: 50px;
			overflow: auto;
		}
			.contenttext
			{
				position: relative;
				float: left;
				
				font-family: verdana;
				font-size: 11px;
				color: #949494;
				line-height: 14px;
				margin-top: 10px;
				margin-right: 5%;
			}
			
				.contenttext_header
				{
					position: relative;
					font-family: gotham_htfmedium;
					margin-top: 0.5em;
					margin-bottom: 0.5em;
					font-size: 22px;
					color: #5e95ab;
					text-transform: uppercase;
				}
			
			.contentmenu
			{
				position: relative;
				float: left;
				font-size: 12px;
				color: #949494;
				font-family: gotham_htfmedium;
				margin-top: 20px;
				margin-bottom: 20px;
			}		
			
				.contentmenu .menuitem
				{
					position: relative;
					float: left;
					text-align: left;
					text-transform: uppercase;
					cursor: pointer;
					margin-left: 15px;
				}
	.footer
	{
		position: relative;
		width:875px;
		margin:0px auto;
		border-top: solid 1px #949494;
		line-height: 40px;
		vertical-align: middle;
		color: #949494;
		font-family: verdana;
		font-size: 9px;
		text-align: center;
	}
	
	.contact
	{
		position: relative;
		border-top: solid 1px #949494;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		color: #949494;
		font-size: 13px;
		font-family: 'gotham_htfmedium';
		z-index: 10;
		
	}	
	
		.contact a
		{
			text-decoration: underline;
		}
		
		.contact #maps_iframe
		{
			position: relative;
		}
		
		.contact .contact_headline
		{
			font-size: 23px;
			font-weight: bold;
			font-family: gotham_htfmedium;
		}
		
		.contact .contact_subheadline
		{
			font-size: 14px;
			font-weight: bold;
		}
	
	.download
	{
		position: relative;
		width: 100%;
		border-top: solid 1px #949494;
		padding-top: 20px;
		padding-bottom: 20px;		
		color: #949494;
		font-size: 13px;
		font-family: 'gotham_htfmedium';
		z-index: 10;
		line-height: 25px;
	}
	
		.download img
		{
			height: 25px;
			vertical-align: middle;
			border: solid 1px #949494;
		}

.presscontent
{
	position: relative;
	width: 100%;
	z-index: 10;
	overflow: hidden;
}

	.pressitem
	{
		position: relative;
		float: left;
		width: 49%;
		margin-right: 1%;
		margin-bottom: 2%;
		height: 300px;
		overflow-y: auto;
	}
	
		.press_header
		{
			position: relative;
			width: 100%;
			font-family: gotham_htfmedium;
			font-size: 27px;
			color: #5e95ab;
			margin-top: 0px;
			margin-bottom: 10px;
		}
		
		
		.press_video
		{
			position: relative;
			width: 100%;
			margin-bottom: 10px;
		}
		
			.press_video_iframe
			{
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
			}
		
		.press_image
		{
			position: relative;
			width: 100%;
			vertical-align: middle;
			margin-bottom: 10px;
			text-align: center;
			max-height: 350px;
			overflow: hidden;
		}
		
			.press_image img
			{
				border: 0px;
				max-width: 100%;
				vertical-align: middle;
			}

		.press_content
		{
			position: relative;
			width: 100%;
			font-family: 'gotham_htfmedium';
			font-size: 13px;
			color: #949494;
			line-height: 1.3em;
		}
		
		.press_content p
		{
			margin-top: 0px;
			margin-bottom: 0px;
			
		}
		
	.pressitem_right
	{
		
	}


.pressimage
{
	position: relative;
	width: 100%;
	margin-left: 0%;
	margin-right: 0%;
	height: auto;
	margin-bottom: 20px;

}




.download a
{
	text-decoration: underline;
}

.ImageHolder .slider2
{
	height: 380px
}


.lang_switch
{
	position: relative;
	float: right;
	line-height: 1.5em;
	font-size: 12px;
	color: #949494;
	font-family: 'gotham_htfmedium';
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}


.arrow
{
	position: absolute;
	z-index: 9999;
	line-height: 380px;
	cursor: pointer;
	display: none;
}

	.arrow img
	{
		width: 20px;
		vertical-align: middle;
	}

.arrow_left
{
	left: 0px;
}

.arrow_right
{
	right: 0px;
}
