@font-face {
    font-family: 'HelveticaLight';
    src: url('../css/Fonts/helveticalight-webfont.eot');
    src: url('../css/Fonts/helveticalight-webfont.eot?#iefix') format('eot'),
         url('../css/Fonts/helveticalight-webfont.woff') format('woff'),
         url('../css/Fonts/helveticalight-webfont.ttf') format('truetype'),
         url('../css/Fonts/helveticalight-webfont.svg#webfontmAXNl3ys') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: Helvetica;
	font-size:12px;
	border:0;
	padding:0;
	margin:0;
	overflow:hidden;
	background:#fff;
}

#wrapper{
	top:50px;
	left:0px;
	background:url('../img/bs_1.png') repeat-x;
	position:absolute;
	z-index:6;
}	

#content{
	top:50px;
	left:0px;

	position:absolute;
	z-index:100;
}

#menu{
	position:absolute;
	top:-42px;
	left:0px;
	width:100%;
	height:40px;
	z-index:7;
	background:#000;
	background:url('../img/bs_1.png') repeat-x;	
}

#menu p{
	float:left;
	font-size:16px;
	margin-left:20px;
	margin-top:10px;
	height:20px;
	color:#CCCCC;
	padding:0;
	text-decoration:none;
	cursor:pointer;
	position: relative;
	top: 5px;
}

#menu p:hover{
	color:#626262;
}


#menutop{
	position:absolute;
	top:0px;
	height:50px;
	
	z-index:888;
	
}

#opener{
	position:absolute;
	bottom:-6px;
	cursor:pointer;
	z-index:1000;
	top:46px;
	left:0px;
	height:8px;
}

.ordering
{
	margin: 0px;
	padding: 0px;
	margin-left: 30px;
	margin-top: 30px;
	overflow: hidden;
}

	.ordering li
	{
		position: relative;
		float: left;
		width: 150px;
		height: 90px;
		text-align: center;
		border: solid 2px black;
		margin-right: 10px;
		margin-bottom: 10px;
		padding-top: 60px;
		cursor: pointer;
		background-color: white;
	}

		.ordering li span
		{
			font-size: 14px;
			vertical-align: middle;
			line-height: normal;
			margin-top: 30px;
		}
		
h1
{
	margin-left: 30px;
}		
		
#save_button
{
	position: relative;
	border: solid 1px black;
	background-color: white;
	padding: 5px;
	font-size: 16px;
	margin-left: 30px;
	cursor: pointer;
}		

#save_button:hover
{
	background-color: #dedede;
}
