@font-face {
    font-family: 'SourceSansProRegular';
    src: url('fonts/SourceSansPro-Regular-webfont.eot');
    src: url('fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('fonts/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	border:0;
	margin:0;
	font-family: 'SourceSansProRegular'; 
	font-size: 12px;
	color:#000000;
	overflow:hidden;
	font-weight:normal;
}
#wrapper{
	position:absolute;
	top:0px;
	left:0px;

}

#slider{
	width:100%;
	position:absolute;
	height:722px;
	display: none;
}

#sliderRight{
	background:#fff;
	top:0px;
	right:0px;
	position:absolute;
}


#shadowTop{
	position:absolute;
	background:url('../img/ts_1.png') repeat-x;
	z-index:3;
	height:19px;
	width:100%;
	top:-19px;
}

#shadowBottom{
	position:absolute;
	background:url('../img/bs_1.png') repeat-x;
	z-index:3;
	height:19px;
	width:100%;
	bottom:-19px;
}
input.password{
	font-size:18px;

	border-style:none;
	border-bottom:1px solid #000;
	position: relative;
	top: 10px;
}

input.submit{
	width:30px;
	font-size:72px;
	font-style:italic;
	font-weight:bold;
	border:1px solid #fff;
	background:#000;
	width:150px;
	color:#fff;
	margin-top:5px;
	float:right;
	cursor:pointer;
}

input.submit:hover{
	background:#fff;
	color:#000;

	
}

#form{
	position:absolute;
	bottom:20px;
	right:200px;
}

table{
	text-align:left;
}

td,th{
	padding:10px;
	font-size:14px;
}
h1{
	padding:10px;
	margin-top:20px;
}

#MiniLogo{
	position:absolute;
	top:50px;
	left:50px;
	width:100px;
	height:100px;
}

#sliderL,#sliderR,#sliderT,#sliderB{
	position:absolute;
	background:#fff;
	top:0px;
	left:0px;
}

